<h2>Edit Filler Video</h2>

<% if !notice.nil? %>
<p id="notice"><%= notice %></p>
<% end %>

<% if ! @record.nil? %> 
  <%= render 'form' %>

  <p/>
  <p/>
  <%= link_to 'Show', action: 'show', id: @record["id"] %>
<% end %>
